body {
    margin: 0;
}

.search-section {
    height: 100vh;
    background-image: url("../imgs/search-section/search-section-back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}